.skillsBlock {
    /*height: 100vh;*/
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillsContainer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
@media (max-width: 690px) {
    .skills {
        flex-direction: column;
        align-items: center;
        /*width: 300px;*/
    }

}
@media (max-width: 1024px) {
    .skills{
        justify-content: space-around;
    }
}


